*{
	margin: 0;
}

body,html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url(background.jpg);
	background-size: 100% 100%;
}

.wrapper {
	width: 80%;
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: lightgrey;
}

.header {
	width: 100%;
	height: auto;
	background-color: #cc0044;
	color: white;
	text-align: center;
	font-size: 250%;
	padding-top: 1%;
	padding-bottom: 0.5%;
	text-shadow: 1px 1px white;
	overflow: hidden;
}

.navigation {
	width: 100%;
	height: auto;
	background-color: black;
	color: white;
	margin-top: 1%;
	margin-bottom: 1%;
}

.content {
	width: 100%;
	height: 70%;
	background-color: lightgreen;
}

.footer {
	width: 100%;
	height: ;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0px;
}

.side {
	width: 25%;
	height: 100%;
	float: left;
	background-color: #1eafdb;
}

.main {
	width: 75%;
	height: 100%;
	float: left;
	background-color: green;
	overflow: auto;
}

#myCarousel {
	width: 100%;
	height: 60%;
	background-color: #99cc00;
    overflow:hidden;

}

.news {
	width: 100%;
	height: 40%;
	background-color: #cc0044;
	color: white;
}

.hor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.carousel-indicators{
	text-align:center;
}


.ver li {
	margin-bottom: 5%;
	color: white;
	list-style-type: none;
}

.ver li:hover{
	font-size: 20px;
	color: white;
}

.sau li {
	font-size: 15px;
	padding: 3px;
}
.sau a{
	color: white;
}

.ver a {
	color: white;
}